header {
    background-color: rgb(90, 90, 90);
    box-sizing: border-box;
    padding: -80px;
    box-shadow: inset 2px 3px 4px #333;
}

nav {
    display: inline-block;
    padding-bottom: 12px;
}

.homepageGentleBorder {
    border-style: solid;
    border-color: rgb(220, 220, 220);
}

#SubmitButton {
    padding: 3px;
    font-size: 100%;
    width: 7%;
    height: 4%;
    top: 45%;
    left: 60%;
    margin-left: 0%;
    margin-top: 0%;
    position: absolute;
}

#PathToLogFileInput {
    padding: 12px;
    font-size: 150%;
    width: 30%;
    height: 3%;
    top: 40%;
    left: 35%;
    margin-left: 0%;
    margin-top: 0%;
    color: rgb(255, 255, 255);
    background-color: rgb(220, 220, 220);
    position: absolute;
}
