header {
    background-color: rgb(90, 90, 90);
    box-sizing: border-box;
    padding: -80px;
    box-shadow: inset 2px 3px 4px #333;
}

nav {
    display: inline-block;
    padding-bottom: 12px;
}

.homepageNavLink {
    margin: 12px;
    color: rgb(255, 255, 255);
}

#SubmitButton {
    padding: 3px;
    width: 70px;
    height: 20px;
    top: 40%;
    left: 400px;
    margin-left: -20px;
    margin-top: -20px;
    position: absolute;
}

#PathToLogFileInput {
    padding: 12px;
    width: 10%;
    height: 30px;
    top: 40%;
    left: 42.5%;
    margin-left: -20px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
    background-color: rgb(27, 217, 130);
    position: absolute;
}
